venv/
node_modules/
argy_reviews/api/pycache/
argy_reviews/api/migrations/pycache/
argy_reviews/argy_reviews/pycache/
argy_reviews/frontend/pycache/
argy_reviews/frontend/migrations/pycache/
db.sqlite3
argy_reviews/frontend/static/frontend/
images/